body {
    font-family: "Noto Sans",
        sans-serif;
    ;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;

    @media (max-width: 768px) {
        padding: 0 24px;

    }
}