.title-container {
    color: white;
    background: linear-gradient(90deg, rgba(0, 81, 138, 1) 0%, rgba(0, 90, 156, 1) 100%);
    padding-top: 64px;
    padding-bottom: 64px;

    .title {
        margin-bottom: 16px;
    }

}