* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Remove default user agent styling */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  line-height: 1.15;
  /* Improve readability */
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

.l-display, h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 64px;
  line-height: 56px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .l-display, h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 52px;
    line-height: 48px;
    font-weight: 700;
  }
}

.m-display, h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .m-display, h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
  }
}

.s-display, h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .s-display, h3 {
    font-family: "Noto Sans", sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
}

.l-headline, h4 {
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .l-headline, h4 {
    font-family: "Noto Sans", sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
  }
}

.m-headline, h5 {
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .m-headline, h5 {
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

.s-headline, h6 {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .s-headline, h6 {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
}

.xs-headline {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .xs-headline {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
}

.l-body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.m-body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.s-body {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.l-label {
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.m-label {
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.s-label {
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
}

.title-container {
  color: white;
  background: linear-gradient(90deg, rgb(0, 81, 138) 0%, rgb(0, 90, 156) 100%);
  padding-top: 64px;
  padding-bottom: 64px;
}
.title-container .title {
  margin-bottom: 16px;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  flex: 2;
  max-width: 914px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .map {
    max-width: 100%;
    height: 390px;
    flex: 1;
  }
}
.map .map__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.map .selected-marker {
  color: blue;
}
.map .info-window {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}
.map .selected-marker {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  /* Adjust the width as needed */
}
.map .selected-marker h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.map .selected-marker p {
  margin: 5px 0;
  font-size: 14px;
}

.content-wrapper {
  height: 100%;
  max-height: 914px;
  display: flex;
}

.filter-sidebar {
  background-color: #ECF6FE;
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  .filter-sidebar {
    overflow-y: visible;
  }
}
.filter-sidebar::-webkit-scrollbar {
  width: 24px;
}
@media screen and (max-width: 768px) {
  .filter-sidebar::-webkit-scrollbar {
    width: 0;
  }
}
.filter-sidebar::-webkit-scrollbar-track {
  background: #fff;
}
.filter-sidebar::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: #042968;
  border: 8px solid #fff;
}
.filter-sidebar .data-with-search {
  padding: 40px 22px 40px 104px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .filter-sidebar .data-with-search {
    padding: 12px 6px;
  }
}
.filter-sidebar .data-with-search .search-component {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.filter-sidebar .data-with-search .search-component::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #D4D5D6;
  margin-bottom: 16px;
}
.filter-sidebar .data-with-search .search-component h6 {
  color: #404040;
}
.filter-sidebar .data-with-search .search-component .search-button,
.filter-sidebar .data-with-search .search-component .search-input {
  background-color: white;
  width: 100%;
  border: 1px solid #D4D5D6;
  border-radius: 4px;
  padding: 12px 8px;
  color: #042968;
}
.filter-sidebar .data-with-search .search-component .search-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
}
.filter-sidebar .data-with-search .search-component .search-buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.filter-sidebar .data-with-search .search-component .search-buttons .toggle-buttons {
  display: none;
}
@media screen and (max-width: 768px) {
  .filter-sidebar .data-with-search .search-component .search-buttons .toggle-buttons {
    display: flex;
    justify-content: space-between;
    border: 1px solid #D4D5D6;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    flex: none;
  }
  .filter-sidebar .data-with-search .search-component .search-buttons .toggle-buttons .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  .filter-sidebar .data-with-search .search-component .search-buttons .toggle-buttons .toggle-button:first-child {
    border-right: 1px solid #D4D5D6;
  }
  .filter-sidebar .data-with-search .search-component .search-buttons .toggle-buttons .toggle-button.active {
    background-color: #008674;
  }
  .filter-sidebar .data-with-search .search-component .search-buttons .toggle-buttons .toggle-button:hover {
    /* Hover background color */
    color: #042968;
    /* Hover icon color */
  }
  .filter-sidebar .data-with-search .search-component .search-buttons .toggle-buttons .toggle-button svg {
    width: 24px;
    height: 24px;
  }
}
.filter-sidebar .data-with-search .search-component .input-wrapper {
  position: relative;
  width: 100%;
}
.filter-sidebar .data-with-search .search-component .clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0077CB;
  /* Background color for the circle */
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  /* Text color */
  padding: 5px;
  /* Padding to create the circle */
  margin: 0;
  border-radius: 50%;
  /* Make it a circle */
  width: 24px;
  /* Fixed width for the circle */
  height: 24px;
  /* Fixed height for the circle */
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-sidebar .data-with-search .search-component .clear-button:hover {
  background-color: #005fa3;
  /* Darker shade for hover state */
}
.filter-sidebar .data-with-search .search-component .apply-filters-btn {
  background-color: #0077CB;
  /* Primary color */
  color: white;
  /* Text color */
  padding: 10px 20px;
  /* Padding for the button */
  border: none;
  /* Remove default border */
  border-radius: 4px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
  font-size: 16px;
  /* Font size */
  font-weight: bold;
  /* Bold text */
  text-align: center;
  /* Center the text */
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
}
.filter-sidebar .data-with-search .search-component .apply-filters-btn:hover {
  background-color: #005fa3;
  /* Darker shade for hover state */
}
.filter-sidebar .data-with-search .search-component .apply-filters-btn:active {
  background-color: #004a82;
  /* Even darker shade for active state */
}
.filter-sidebar .data-with-search .search-component .apply-filters-btn:focus {
  outline: none;
  /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 119, 203, 0.5);
  /* Custom focus outline */
}
.filter-sidebar .data-with-search .search-component .filters {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  color: #404040;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.filter-sidebar .data-with-search .search-component .filters-select {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.filter-sidebar .data-with-search .search-component .filters .categories,
.filter-sidebar .data-with-search .search-component .filters .distance {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filter-sidebar .data-with-search .search-component .filters .categories h3,
.filter-sidebar .data-with-search .search-component .filters .distance h3 {
  margin-bottom: 8px;
  font-weight: 700;
}
.filter-sidebar .data-with-search .search-component .filters .categories input[type=checkbox],
.filter-sidebar .data-with-search .search-component .filters .distance input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}
.filter-sidebar .data-with-search .search-component .filters .categories input[type=checkbox]:checked,
.filter-sidebar .data-with-search .search-component .filters .distance input[type=checkbox]:checked {
  background-color: #0077CB;
  border-color: #0077CB;
}
.filter-sidebar .data-with-search .search-component .filters .categories input[type=checkbox]:checked::after,
.filter-sidebar .data-with-search .search-component .filters .distance input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.filter-sidebar .data-with-search .search-component .filters .categories label,
.filter-sidebar .data-with-search .search-component .filters .distance label {
  color: #404040;
  cursor: pointer;
}
.filter-sidebar .data-with-search .search-component .filters .categories input[type=number],
.filter-sidebar .data-with-search .search-component .filters .distance input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #404040;
  width: 100%;
  box-sizing: border-box;
}
.filter-sidebar .data-with-search .search-component .filters .categories input[type=number]:focus,
.filter-sidebar .data-with-search .search-component .filters .distance input[type=number]:focus {
  border-color: #0077CB;
  outline: none;
}
.filter-sidebar .data-with-search .search-component .filters .categories div {
  display: flex;
  align-items: center;
}
.filter-sidebar .data-with-search .data-numbers {
  font-weight: 700;
  color: #404040;
  margin-bottom: 16px;
}
.filter-sidebar .data-with-search .data-numbers-unq {
  color: #008674;
}
@media screen and (max-width: 768px) {
  .filter-sidebar .data-with-search .data-component .data-items {
    height: 47vh;
    overflow-y: auto;
  }
}
.filter-sidebar .data-with-search .data-component .data-items .data-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #404040;
  background-color: white;
  border-radius: 8px;
  margin-top: 16px;
  position: relative;
  /* Ensure the pseudo-element is positioned correctly */
  overflow: hidden;
  /* Ensure the border radius is applied correctly */
}
.filter-sidebar .data-with-search .data-component .data-items .data-item.selected::before {
  content: unset;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  /* Adjust the height as needed */
  background: linear-gradient(to right, #0077CB, #00A784);
  border-top-left-radius: 8px;
  /* Match the border radius of the parent */
  border-top-right-radius: 8px;
  /* Match the border radius of the parent */
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .weather {
  background-color: #B23427;
  padding: 8px 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .weather-text {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 700;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .weather-link {
  display: flex;
  gap: 4px;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .weather-link img {
  -o-object-fit: contain;
     object-fit: contain;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-details .categories {
  font-weight: 700;
  color: #404040;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-details .branch-name {
  font-weight: 700;
  color: #042968;
  display: flex;
  font-weight: 700;
  gap: 8px;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-details .branch-name span {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #008674;
  color: white;
  text-align: center;
  font-weight: bold;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-details .branch-name p {
  font-weight: 700;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-details .address {
  color: #404040;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .card {
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #F4F4F4;
  border-radius: 4px;
  margin: 0 8px;
  padding: 8px 16px;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .dropdown {
  font-weight: 700;
  color: #042968;
  display: flex;
  justify-content: space-between;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .dropdown .icon {
  transform: rotate(180deg);
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .dropdown .icon.opened {
  transform: rotate(0deg);
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .dropdown-content {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .features,
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-hours {
  width: 48%;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .features h3,
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-hours h3 {
  margin-bottom: 8px;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-hours ul {
  list-style-type: none;
  padding: 0;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .features ul {
  list-style: disc;
  list-style-position: inside;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .features li,
.filter-sidebar .data-with-search .data-component .data-items .data-item .branch-hours li {
  margin-bottom: 4px;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .place {
  border-top: 1px solid #D4D5D6;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .place-distance {
  position: relative;
  font-weight: 700;
}
.filter-sidebar .data-with-search .data-component .data-items .data-item .place-direction, .filter-sidebar .data-with-search .data-component .data-items .data-item .place-details {
  display: flex;
  gap: 4px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */